[project]
	description = OAuth2 authentication provider for Gerrit Code Review
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cvsvineeth
[access "refs/for/refs/*"]
	read = group user/cvsvineeth
	push = group user/cvsvineeth
	label-Code-Review = -2..+2 group user/cvsvineeth
	label-Verified = -1..+1 group user/cvsvineeth
	rebase = group user/cvsvineeth
	removeReviewer = group user/cvsvineeth
	submit = group user/cvsvineeth
[access "refs/heads/*"]
	read = group user/cvsvineeth
	create = group user/cvsvineeth
	push = +force group user/cvsvineeth
	pushMerge = group user/cvsvineeth
[access "refs/tags/*"]
	push = +force group user/cvsvineeth
	pushTag = group user/cvsvineeth
	pushSignedTag = group user/cvsvineeth
